/* Estilos globales */
body {
    margin: 0;
    padding: 0;
    background-color: #f7f9fa;
    font-family: 'Helvetica Neue', Arial, sans-serif;
    color: #333;
    line-height: 1.6;
}

/* Encabezado */
.header {
    background-color: #1e3765;
    color: #fff;
    padding: 15px 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.nav {
    margin-left: 20px;
}

.nav a {
    color: #fff;
    margin-left: 10px;
    text-decoration: none;
    padding: 10px;
}

.nav a:hover {
    text-decoration: underline;
}

/* Contenido */
.content {
    padding: 40px;
    max-width: 1200px;
    margin: auto;
    background-color: #fff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.content h2 {
    color: #333;
    font-size: 28px;
    margin-bottom: 20px;
}

.content p {
    font-size: 16px;
    color: #666;
}

/* Footer */
.footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 15px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
    font-size: 14px;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
}

/* Tablas */

/* Botones */
button {
    background-color: rgb(96, 129, 189);
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 14px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #1e3765;
}

button.danger {
    background-color: #050505;
}

button.danger:hover {
    background-color: #050505;
}

/* Responsividad */
@media (max-width: 768px) {
    .header h1 {
        font-size: 20px;
    }

    .nav a {
        padding: 6px 12px;
        font-size: 14px;
    }

    .content {
        padding: 20px;
    }

    table {
        font-size: 14px;
    }

    .footer {
        font-size: 12px;
    }
}

/* Estilo para las acciones */
.acciones {
    display: flex;
    gap: 10px;
}

.btn {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    font-size: 12px;
    color: white;
    cursor: pointer;
    text-decoration: none;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.btn-editar {
    display: inline-block;
    background-color: #6081bd; /* Mismo color que el botón eliminar */
    color: white;
    padding: 7px 22px;
    border: none;
    border-radius: 7px;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn-editar:hover {
    background-color: #1e3765; /* Mismo efecto hover */
}


.btn-delete {
    background-color: #050505;
    width: 60px;
    height: 30px;
}

.btn:hover {
    opacity: 0.8;
}

/* Estilo de grid */
.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    padding: 10px;
}

.grid-header {
    background-color: #999595;
    font-weight: bold;
    padding: 10px;
    text-align: center;
}

.grid-item {
    background-color: #a19e9e;
    padding: 10px;
    border: 1px solid #ddd;
    text-align: center;
}

/* Encabezados siempre centrados */
thead th {
    text-align: center;
    vertical-align: middle;
}

th, td {
    white-space: nowrap;
}

/* Formulario de carga */
.form-upload {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

label.custom-file-upload {
    background-color: #050134;
    padding: 7px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

#file-upload {
    display: none;
}

.file-box {
    font-size: 16px;
    color: #3d3d3d;
    border: 1px solid #eeecec;
    padding: 6px 10px;
    border-radius: 5px;
    min-width: 200px;
    display: inline-block;
    background-color: #f0ecec;
}

button {
    background-color: rgb(96, 129, 189);
    color: rgb(247, 246, 246);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #1e3765;
}

/* Botón personalizado */
.custom-file-upload {
    display: inline-block;
    background-color: #d0d0d3; 
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.custom-file-upload:hover {
    background-color: #1e3765; 
}

/* Menú desplegable */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn {
    background-color: #1e3765;
    color: white;
    padding: 10px 16px;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1;
    min-width: 160px;
    border-radius: 4px;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content button {
    background-color: transparent;
    color: #333;
    padding: 10px;
    text-align: left;
    border: none;
    width: 100%;
    cursor: pointer;
    transition: background-color 0.3s;
}

.dropdown-content button:hover {
    background-color: #f1f1f1;
}

/* Barra de búsqueda */
.search-container {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
}

.search-input {
    padding: 8px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 300px;
}

